@font-face {
  font-family: "Hyundai Sans Head KR";
  src: url("../../src/assets/fonts/AnyConv.com__HyundaiSansHeadKRRegular.woff");
  font-display: swap;
}
@font-face {
  font-family: "Hyundai Sans Text KR";
  src: url("../../src/assets/fonts/AnyConv.com__HyundaiSansTextKRRegular.woff");
  font-display: swap;
}

@font-face {
  font-family: "Hyundai Sans Text KR";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -1.08px;
  src: url("../../src/assets/fonts/AnyConv.com__HyundaiSansTextKRRegular.woff");
  font-display: swap;
}
@font-face {
  font-family: "display small";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -1.08px;
  src: url("../../src/assets/fonts/AnyConv.com__HyundaiSansHeadKRRegular.woff");
  font-display: swap;
}
@font-face {
  font-family: "headline large";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.96px;
  src: url("../../src/assets/fonts/AnyConv.com__HyundaiSansHeadKRRegular.woff");
  font-display: swap;
}
@font-face {
  font-family: "headline medium";
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.84px;
  src: url("../../src/assets/fonts/AnyConv.com__HyundaiSansHeadKRRegular.woff");
  font-display: swap;
}
@font-face {
  font-family: "headline small";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.72px;
  src: url("../../src/assets/fonts/AnyConv.com__HyundaiSansHeadKRRegular.woff");
  font-display: swap;
}
@font-face {
  font-family: "title large1";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.66px;
  src: url("../../src/assets/fonts/AnyConv.com__HyundaiSansTextKRRegular.woff");
  font-display: swap;
}
@font-face {
  font-family: "title large2";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.6px;
  src: url("../../src/assets/fonts/AnyConv.com__HyundaiSansTextKRRegular.woff");
  font-display: swap;
}

@font-face {
  font-family: "title medium1";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.66px;
  src: url("../../src/assets/fonts/AnyConv.com__HyundaiSansTextKRRegular.woff");
  font-display: swap;
}
@font-face {
  font-family: "title medium2";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.48px;
  src: url("../../src/assets/fonts/AnyConv.com__HyundaiSansTextKRRegular.woff");
  font-display: swap;
}

@font-face {
  font-family: "title small";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.42px;
  src: url("../../src/assets/fonts/AnyConv.com__HyundaiSansTextKRRegular.woff");
  font-display: swap;
}

@font-face {
  font-family: "body medium1";
  font-family: Hyundai Sans Text KR;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.48px;
  src: url("../../src/assets/fonts/AnyConv.com__HyundaiSansTextKRRegular.woff");
  font-display: swap;
}

@font-face {
  font-family: "body medium2";
  font-family: Hyundai Sans Text KR;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.42px;
  src: url("../../src/assets/fonts/AnyConv.com__HyundaiSansTextKRRegular.woff");
  font-display: swap;
}

@font-face {
  font-family: "body small";
  font-family: Hyundai Sans Text KR;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.36px;
  src: url("../../src/assets/fonts/AnyConv.com__HyundaiSansTextKRRegular.woff");
  font-display: swap;
}
